@media screen and (max-width: 375px) {
  .container {
    max-width: 311px;
  }
  .header_text {
    padding-top: 64px;
    width: 311px;
  }
  .header_text h1 {
    font-size: 32px;
    padding-top: 64px;
  }
  .header_text p {
    font-size: 16px;
  }
  .container .buttons_header {
    flex-wrap: wrap;
    gap: 20px;
  }
  .container .buttons_header button {
    padding: 13px 50px;
  }
  .section_two_theme {
    width: 311px;
    padding-top: 150px;
  }
  .section_two_theme h1 {
    font-size: 28px;
  }
  .section_two_theme p {
    font-size: 16px;
  }
  .section_two_tele{
    flex-wrap: wrap;
   
  }
  .section_two_tele .section_two_televizor{
    max-width: 311px;
    height: 238px;
    margin: 0 auto;
    background-image: url("./images/telvizor222.png");
  }
  .section_two_text {
    /* align-items: center;
    justify-content: center;
  display: flex; */
  margin: 0 auto;
  }
  .section_two_text .live{
    text-align: center;
    max-width: 311px;
  }
  .theme_section_three{
    max-width: 311px;
    padding-bottom: 65px;
  }
  .theme_section_three h1{
    font-size: 28px;
  }
  .theme_section_three p{
    font-size: 16px;
    padding-bottom: 64px;
  }
  .plansheet{
    background-image: url("./images/telfon.png");
    max-width: 311px;
    height: 180px;
  
  }
  .text_four h1{
    font-size: 28px;
  }
  .text_four p{
    font-size: 16px;
  }
  .boxs_four{
    flex-wrap: wrap;
  }
  .boxs_four .box{
    padding-bottom: 56px;
  }
  .box img{
    padding-bottom: 40px;
  }
  .box h3{
    font-size: 24px;
  }
  .logos {
    flex-wrap: wrap;
    gap: 57px;
    margin: 0 auto;
    padding: 79px;

  }
  .ios_theme h1{
    padding-top: 170px;
    font-size: 28px;
  }
  .ios_theme p{
    font-size: 16px;
  }
  .footer_class{
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 45px;
    text-align: center;
    padding: 63px;
  }
  .footer_class img{
 padding-left: 57px;
 padding-right: 57px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}
